<div class="dnd5e chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}
        {{#if data.materials.value}}
        <p><strong>{{ localize "DND5E.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
        {{/if}}
    </div>

    <div class="card-buttons qr-card-buttons">
        {{#if hasAttack}}
        <div class="flexrow">
            <h4 class="qr-card-button-header qr-attack qr-hidden">{{ localize "DND5E.Attack" }}</h4>
            <h4 class="qr-card-button-header qr-vantage qr-hidden">{{ localize "QR.Vantage" }}</h4>
        </div>
        <div class="flexrow">
            <button data-action="attack">{{ localize "DND5E.Attack" }}</button>
            <button data-action="vantage">{{ localize "QR.Vantage" }}</button>
        </div>
        {{/if}}
        
        {{#if hasDamage}}
        <h4 class="qr-card-button-header qr-damage qr-hidden">{{ localize "DND5E.Damage" }}</h4>
        <button data-action="damage">
            {{#if isHealing}}{{ localize "DND5E.Healing" }}
            {{else}}{{localize "DND5E.Damage" }}{{/if}}
        </button>
        {{/if}}

        {{#if isVersatile}}
        <h4 class="qr-card-button-header qr-versatile qr-hidden">{{ localize "DND5E.Versatile" }}</h4>
        <button data-action="versatile">{{ localize "DND5E.Versatile" }}</button>
        {{/if}}

        {{#if hasSave}}
        <button data-action="save" data-ability="{{data.save.ability}}" disabled>
            {{ localize "DND5E.SavingThrow" }} {{labels.save}}
        </button>
        {{/if}}

        {{#if data.formula}}
        <h4 class="qr-card-button-header qr-formula qr-hidden">{{ localize "DND5E.OtherFormula" }}</h4>
        <button data-action="formula">{{ localize "DND5E.OtherFormula"}}</button>
        {{/if}}

        {{#if hasAreaTarget}}
        <button data-action="placeTemplate">{{ localize "DND5E.PlaceTemplate" }}</button>
        {{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
