<div class="dnd5e chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}
        {{#if data.materials.value}}
        <p><strong>{{ localize "DND5E.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
        {{/if}}
    </div>

    <div class="card-buttons qr-card-buttons">
        {{#if hasAttack}}
        <div class="flexrow">
            <h4 class="qr-card-button-header qr-attack-header qr-hidden">
                {{ localize "DND5E.Attack" }}
            </h4>
            <h4 class="qr-card-button-header qr-vantage-header qr-hidden">
                {{ localize "QR.Vantage" }}
            </h4>
        </div>
        <div class="flexrow">
            <button class="qr-attack" data-action="attack">{{ localize "DND5E.Attack" }}</button>
            <button class="qr-vantage" data-action="vantage">
                <div title="{{localize 'QR.VantageTooltip'}}">
                    <i class="fas fa-info-circle qr-tooltip"></i>
                    {{ localize "QR.Vantage" }}
                </div>
            </button>
        </div>
        {{/if}}
        
        {{#if hasDamage}}
        <h4 class="qr-card-button-header qr-damage-header qr-hidden">
            {{ localize "DND5E.Damage" }}
        </h4>
        
        <button class="qr-damage" data-action="damage">
            <div title="{{localize 'QR.CritTooltip'}}">
                <i class="fas fa-info-circle qr-tooltip"></i>
                {{#if isHealing}}{{ localize "DND5E.Healing" }}
                {{else}}{{localize "DND5E.Damage" }}{{/if}}
            </div>
        </button>
        
        {{/if}}

        {{#if isVersatile}}
        <h4 class="qr-card-button-header qr-versatile-header qr-hidden">
            {{ localize "DND5E.Versatile" }}
        </h4>
        <button class="qr-versatile" data-action="versatile">
            <div title="{{localize 'QR.CritTooltip'}}">
                <i class="fas fa-info-circle qr-tooltip"></i>
                {{ localize "DND5E.Versatile" }}
            </div>
        </button>
        {{/if}}

        {{#if hasSave}}
        <button data-action="save" data-ability="{{data.save.ability}}" disabled>
            {{ localize "DND5E.SavingThrow" }} {{labels.save}}
        </button>
        {{/if}}

        {{#if data.formula}}
        <h4 class="qr-card-button-header qr-formula-header qr-hidden">
            {{ localize "DND5E.OtherFormula" }}
        </h4>
        <button class="qr-formula" data-action="formula">
            <div title="{{localize 'QR.CritTooltip'}}">
                <i class="fas fa-info-circle qr-tooltip"></i>
                {{ localize "DND5E.OtherFormula"}}
            </div>
        </button>
        {{/if}}

        {{#if hasAreaTarget}}
        <button data-action="placeTemplate">{{ localize "DND5E.PlaceTemplate" }}</button>
        {{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
