.quick-roll-double-button {

}

.quick-roll-left-button {
  flex: 1;
}

.quick-roll-right-button {
  flex: 1;
}

.quick-rolls-card-buttons {
  border-top: 2px groove #FFF;
}

.quick-rolls-card-button-header {
  margin: 0;
  text-align: center;
}
