.qr-card-buttons {
  border-top: 2px groove #FFF;
}

.qr-card-button-header {
  margin: 0;
  text-align: center;
}

.qr-hidden {
  display: none;
}

.qr-discarded {
  filter: sepia(0.5) contrast(0.75) opacity(0.75);
}

.qr-tooltip {
  color: gray;
  margin: 0;
}

.item-card .qr-card-buttons .flexrow .qr-card-button-header .qr-icon-button {
  width: auto;
  padding: 1px 2px;
  margin: 0 0 0 5px;
  border: 1px groove #b5b3a4;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  height: auto;
  line-height: 10px;
}

.item-card .qr-card-buttons .qr-card-button-header .qr-icon-button {
  width: auto;
  padding: 1px 3px;
  margin: 0 0 0 5px;
  border: 1px groove #b5b3a4;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  height: auto;
  line-height: 10px;
}

.dnd5e.chat-card .card-buttons header .part-formula {
  text-align: unset;
  border: unset;
  font-size: 14px;
  margin-left: 3px;
  flex: 1;
}

.dnd5e.chat-card .card-buttons header .part-total {
  border: 1px solid #999;
  border-bottom: none;
}

.dnd5e.chat-card .card-buttons header .part-type {
  text-align: right;
  margin-right: 10px;
  border: 0px;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
  flex: none;
}

.dnd5e.chat-card .card-buttons header .part-type .part-type-icon {
  flex: 1;
  line-height: 2;
  margin-right: 3px;
}

.dnd5e.chat-card .qr-card-check-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}

.dnd5e.chat-card .qr-card-check-buttons {
  border-top: none;
}

.dnd5e.chat-card .qr-check-card-header img {
  flex: 0 0 24px;
}

.dnd5e.chat-card .qr-check-card-header h3 {
  line-height: 24px;
}

.sheet-body .attributes .ability-scores .ability-modifiers .ability-mod,
.sheet-body .attributes .ability-scores .ability-modifiers .ability-save {
  cursor: pointer;
}

.sheet-body .attributes .ability-scores .ability-modifiers .ability-mod:hover,
.sheet-body .attributes .ability-scores .ability-modifiers .ability-save:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

/* Damage Types */
.qr-none-damage-type {
  color: #333333;
}

.qr-acid-damage-type {
  color: #009900;
}

.qr-bludgeoning-damage-type {
  color: #333333;
}

.qr-cold-damage-type {
  color: #000099;
}

.qr-fire-damage-type {
  color: #990000;
}

.qr-force-damage-type {
  color: #777777;
}

.qr-lightning-damage-type {
  color: #909000;
}

.qr-necrotic-damage-type {
  color: #000000;
}

.qr-piercing-damage-type {
  color: #333333;
}

.qr-poison-damage-type {
  color: #225533;
}

.qr-psychic-damage-type {
  color: #900090;
}

.qr-radiant-damage-type {
  color: #995500;
}

.qr-slashing-damage-type {
  color: #333333;
}

.qr-thunder-damage-type {
  color: #550055;
}

.qr-healing-damage-type {
  color: #ff0000;
}

.qr-temphp-damage-type {
  color: #0000ff;
}
